body{

}
img{
	max-width: 100%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top:100px;
}
.grande{
	font-size:4em;
}
.espacio-derecha{
	margin-right: 1em;
}
.no-lista li{
list-style-type: none;
}
.nolista{
	margin: 0px;
	padding: 0px;
}
.se-gris{
	background-color: #4CD6E8;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.padding-largo{
	padding: 5px 10px;
}
.flower{
	font-family: 'Indie Flower', cursive;
}
.arriba{
	vertical-align: top;
}
.verde{
	color: #265C01;
}
.lobster{
	font-family: 'Lobster', cursive;
}
.serif{
	font-family: 'Bree Serif', serif;
}
.sans-serif{
	font-family: 'Open Sans Condensed', sans-serif;
}
.cursive{
	font-family: 'Poiret One', cursive;
}
.frijole{
	font-family: 'Frijole', cursive;
}
.sonsie{
	font-family: 'Sonsie One', cursive;
}
.abajo{
	margin-top: 79px;
}
.linia{
	background-color: #2BA20E;
	width: 100%;
	height: 15px;
}